/* You can add global styles to this file, and also import other style files */
:root {
    --aux-color: #1509DE;
    --primary-color: #007bff;
    --bulb-color: #F5E04C;
}

.bg-aux {
    background-color: var(--aux-color);
}

.icon-blue{
    color:  var(--primary-color);
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hover:hover {
    cursor: pointer;
}